.child-view-section{
  display: grid;
  background: teal;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap:20px;
}
.child-card{
  background-color:black;
  color: white;
  padding:1rem;
}